<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Datamarkin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>


<div class="app-shell">
    {% block titlebar %}
        <div class="titlebar">
            <div class="titlebar-left">
                <a href="/" class="button is-small is-app" title="Datamarkin">
                    datamarkin
                </a>
            </div>
            <div class="titlebar-center">
                <nav class="tab-pills">
                    <a href="/projects" class="tab-pill {{ 'is-active' if active_tab == 'projects' }}">Projects</a>
                    <a href="/model-zoo" class="tab-pill {{ 'is-active' if active_tab == 'model_zoo' }}">Model Zoo</a>
                    <a href="/workflows" class="tab-pill {{ 'is-active' if active_tab == 'workflows' }}">Workflows</a>
                </nav>
            </div>
            <div class="titlebar-right">
                <button class="button is-small is-app" onclick="window.history.forward()" title="Forward">
                    <span class="is-hidden-label">App Settings</span>
                    <span class="icon is-small">
                      {% include 'icons/cog-6-tooth.svg' %}
                    </span>
                </button>
            </div>
        </div>
    {% endblock %}
    <div class="app-body">
        {% block sidebar %}{% endblock %}
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>
