<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Datamarkin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/annotation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zoomist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zoomist-child.css') }}">

    <script src="{{ url_for('static', filename='js/zoomist.umd.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/markin.js') }}"></script>
</head>
<body>


<div class="app-shell">
    {% block titlebar %}
        <div class="titlebar">
            <div class="titlebar-left">
                <a href="/" class="button is-small is-app" title="Datamarkin">
                    datamarkin
                </a>
            </div>
            <div class="titlebar-center">
                <nav class="tab-pills">
                    <a href="/projects" class="tab-pill {{ 'is-active' if active_tab == 'projects' }}">Projects</a>
                    <a href="/inference" class="tab-pill {{ 'is-active' if active_tab == 'inference' }}">Inference</a>
                    <a href="/model-zoo" class="tab-pill {{ 'is-active' if active_tab == 'model_zoo' }}">Agents</a>
                </nav>
            </div>
            <div class="titlebar-right">
                <a href="/settings" class="button is-small is-app {{ 'is-active' if active_tab == 'settings' }}"
                   title="Settings">
                    <span class="is-hidden-label">Settings</span>
                    <span class="icon is-small">
                      {% include 'icons/cog-6-tooth.svg' %}
                    </span>
                </a>
            </div>
        </div>
    {% endblock %}
    <div class="app-body">
        {% block sidebar %}{% endblock %}
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
</body>
</html>
