{% extends "base.html" %}

{% block title %}Projects — Datamarkin{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="is-size-1">Your projects:</h1>
                <div id="projects" class="columns is-multiline project-items">

                    <div class="column is-6 project-item">
                        <a title="Project name" href="{{ url_for('project_new') }}"
                           class="media box box-with-border p-4 is-align-items-center">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    {% include 'icons/plus.svg' %}
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    {% if projects %}
                                        <p>
                                            <strong>Create a project</strong>
                                        </p>
                                    {% else %}
                                        <p>
                                            <br>
                                            <small>You haven't created any projects yet.
                                                Get started by creating your first project.
                                            </small>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% for project in projects %}
                        <div class="column is-6 project-item">
                            <a title="{{ project.name }}" href="{{ url_for('project', project_id=project.id) }}"
                               class="media box box-with-border p-4 is-align-items-center">
                                <figure class="media-left">
                                        {% if project.thumb_file_id %}
                                        <img class="image is-64x64" style="border-radius: 4px; object-fit: cover;"
                                             src="{{ url_for('serve_file', file_id=project.thumb_file_id, key='cover_small') }}">
                                        {% else %}
                                        <img class="image is-64x64" style="border-radius: 4px;"
                                             src="{{ url_for('static', filename='images/pexels-pixabay-276551.jpg') }}">
                                        {% endif %}
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p><strong>{{ project.name }}</strong> {% if project.description %}
                                            <br> <small>{{ project.description }}</small>{% endif %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="buttons is-centered">
                    <a href="{{ url_for('projects') }}" class="button is-small is-app">
                        <span class="icon is-small">
                            {% include 'icons/academic-cap.svg' %}
                        </span>
                        <span>Learn</span></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
